.frame{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  color: white;
  border: 2px solid #990099;
  width: 500px;
  height: 600px;
  background: red;
}

.display{
  background: #330025;
  text-align: right;
  padding-right: 2%;
  height: 150px;
}

.display-process{
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  float: right;
}

.display-result{
  font-size: 4em;
  height: 80px;
  line-height: 80px;;
  padding: auto;
  clear: both
}

.input-key-frame{
  width: 100%;
  height: 448px;
  margin-top: 2px;
  display: block;
}

.input-number-frame{
  width: 75%;
  height: 100%;
  background: white;
  overflow: hidden;
  display: inline-block;
}

.clear{
  height: 112px;
  font-size: 2.5em;
  color: grey;
  font-weight: 100;
  text-align: center;
  line-height: 112px;
  border-bottom: 2px solid #990099;
}

.number-frame{
  height: 112px;
  display: block;
}

.inner-number{
  width: 32.95%;
  border-right: 2px solid #990099;
  border-bottom: 2px solid #990099;
  font-size: 3em;
  text-align: center;
  line-height: 112px;
  display: inline-block;
  color: black;
}

.inner-number:active, .inner-number:focus{
  color: red;
}

.inner-operator:active, .inner-operator:focus{
  color: blue;
}

.clear:active, .clear:focus{
  color: red;
}

.inner-number-last{
  border-right: 0px solid #990099;
}

.operator-frame{
  height: 100%;
  width: 25%;
  float: right;
  display: block;
  text-align: center;
  overflow: hidden;
}

.inner-operator{
  line-height: 112px;
  height: 112px;
  color: white;
  font-size: 5em;
  display: inline-block;
  border-bottom: 2px solid #990099;
  text-align: center;
  width: 100%;
}
